<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV world1)"/>
    <arg name="safety" default="true"/>
    <arg name="map_file" value="$(find rto_map_server)/maps/$(arg robot_env).yaml" />

    <!-- Run rviz -->
    <include file="$(find rto_bringup)/launch/rviz.launch" />

    <!-- Run map server -->
    <include file="$(find rto_map_server)/launch/map_server.launch"/>
  
    <!-- Run costmap generator -->
    <include file="$(find rto_costmap_generator)/launch/costmap_generator.launch"/>

    <!-- Run localization -->
    <include file="$(find rto_localization)/launch/localization.launch"/>

    <!-- Run local planner -->
    <include file="$(find rto_local_planner)/launch/local_planner.launch"/>

    <!-- Run global_planner -->
    <node name="rto_global_planner" pkg="rto_global_planner" type="astar_planner_bidirectional.py" output="screen"/>
 
    <!-- Run rto_safety_node -->
    <group if="$(arg safety)">
        <include file="$(find rto_safety)/launch/rto_safety_node.launch"/>    
    </group>
</launch>
